# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
opensearch-data
src/data/input/**
src/data/output/**
src/neptune-performance-test/csv_output/**
*.log
*.json

# OS specific
.DS_Store
Thumbs.db

.env
.env
neptune_bulk_load_results_1752778299.json
